.titulo {
  position: "fixed";
  top: 0;
  left: 0;
  width: "100%";
  height: "60px";
  z-index: 10;
  font-size: "70px";
  font-weight: "bold";
  font-family: "'Comic Sans MS', cursive, sans-serif";
  text-align: "center";
  color: "red";
  background-color: "trasparent";
  text-shadow: 0 0 10px #ff0000, 0 0 20px #00ff00, 0 0 30px #ffff00,
    0 0 40px #ff00ff, 0 0 50px #00ffff;
  animation: "navidad 2s infinite alternate";
}

@media screen and (max-width: 600px) {
  .titulo {
    font-size: "40px";
  }
}


@keyframes navidad {
  0% {
    color: red;
    text-shadow: 0 0 10px #ff0000, 0 0 20px #00ff00, 0 0 30px #ffff00,
      0 0 40px #ff00ff, 0 0 50px #00ffff;
  }
  25% {
    color: green;
    text-shadow: 0 0 15px #00ff00, 0 0 25px #ff0000, 0 0 35px #ff00ff,
      0 0 45px #00ffff, 0 0 55px #ffff00;
  }
  50% {
    color: yellow;
    text-shadow: 0 0 20px #ffff00, 0 0 30px #ff00ff, 0 0 40px #00ffff,
      0 0 50px #ff0000, 0 0 60px #00ff00;
  }
  75% {
    color: orange;
    text-shadow: 0 0 25px #ff9900, 0 0 35px #00ff00, 0 0 45px #ff00ff,
      0 0 55px #00ffff, 0 0 65px #ffff00;
  }
  100% {
    color: red;
    text-shadow: 0 0 10px #ff0000, 0 0 20px #00ff00, 0 0 30px #ffff00,
      0 0 40px #ff00ff, 0 0 50px #00ffff;
  }
}
